approach1/qrcode.flow
[{"id":"75963448.14651c","type":"tab","label":"QRCode","disabled":false,"info":""},{"id":"a5e81dc0.f8fb28","type":"inject","z":"75963448.14651c","name":"","topic":"","payload":"STICK THE URL HERE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["bf3c8910.b48af"]]},{"id":"d5fe8d3c.c5301","type":"http request","z":"75963448.14651c","name":"","method":"GET","ret":"txt","url":"","x":320,"y":460,"wires":[["a19929c3.cf8b38"]]},{"id":"91b2912b.b5c11","type":"debug","z":"75963448.14651c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":560,"wires":[]},{"id":"bf3c8910.b48af","type":"change","z":"75963448.14651c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":540,"wires":[["d5fe8d3c.c5301"]]},{"id":"a19929c3.cf8b38","type":"html","z":"75963448.14651c","name":"","property":"payload","outproperty":"payload","tag":"td","ret":"html","as":"single","x":150,"y":620,"wires":[["743fda04.532b14","b363183f.9f9428"]]},{"id":"743fda04.532b14","type":"change","z":"75963448.14651c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[5]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":660,"wires":[["9598921b.caf608"]]},{"id":"9598921b.caf608","type":"html","z":"75963448.14651c","name":"","property":"payload","outproperty":"payload","tag":"span","ret":"text","as":"single","x":410,"y":680,"wires":[["d24a6073.401fe8"]]},{"id":"d24a6073.401fe8","type":"change","z":"75963448.14651c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":620,"wires":[["91b2912b.b5c11"]]},{"id":"26736e61.4023c2","type":"debug","z":"75963448.14651c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":900,"wires":[]},{"id":"b363183f.9f9428","type":"change","z":"75963448.14651c","name":"","rules":[{"t":"set","p":"oldpayload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"newpayload","pt":"msg","to":"{}","tot":"jsonata"},{"t":"set","p":"newpayload.membership_number","pt":"msg","to":"oldpayload[1]","tot":"msg"},{"t":"set","p":"newpayload.name","pt":"msg","to":"oldpayload[3]","tot":"msg"},{"t":"set","p":"newpayload.status","pt":"msg","to":"oldpayload[5]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"newpayload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":740,"wires":[["4f1a4f1e.25db8"]]},{"id":"4f1a4f1e.25db8","type":"html","z":"75963448.14651c","name":"","property":"payload.status","outproperty":"payload.status","tag":"span","ret":"text","as":"single","x":330,"y":800,"wires":[["819dbadc.f9352"]]},{"id":"819dbadc.f9352","type":"change","z":"75963448.14651c","name":"","rules":[{"t":"set","p":"payload.status","pt":"msg","to":"payload.status[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":840,"wires":[["d1004ff2.03bc68"]]},{"id":"d1004ff2.03bc68","type":"csv","z":"75963448.14651c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":200,"y":960,"wires":[["26736e61.4023c2","1b5bd5f7.b98d02"]]},{"id":"1b5bd5f7.b98d02","type":"file","z":"75963448.14651c","name":"","filename":"/home/pi/qr.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":330,"y":1040,"wires":[[]]},{"id":"b1e67b4d.3ce1e","type":"inject","z":"75963448.14651c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1180,"wires":[["7ea3c389.72324c"]]},{"id":"7ea3c389.72324c","type":"file in","z":"75963448.14651c","name":"","filename":"/home/pi/qr.csv","format":"utf8","chunk":false,"sendError":false,"x":330,"y":1200,"wires":[["e5bd5e9f.c64d18"]]},{"id":"e5bd5e9f.c64d18","type":"csv","z":"75963448.14651c","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":440,"y":1260,"wires":[["672d1e4a.317d7"]]},{"id":"672d1e4a.317d7","type":"debug","z":"75963448.14651c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":1380,"wires":[]}]
